-model.each do |group|
  .billboard
    .title
      #{group.name} (
      %a{href: "/groups/#{group.name}/latest"}
        latest
      ) (
      %a{href: "/groups/#{group.name}"}
        all
      )
    %table.table.table-hover.table-condensed
      %tbody
        -group.pivot.each do |key,values|
          %tr
            %td
              .local-label
                #{key}
            %td
              .current.local-label
                #{values.last}
:javascript
  var container = document.querySelector('.container');
  var msnry = new Masonry( container, {
    // options
    columnWidth: 20,
    itemSelector: '.billboard'
  });
